# {{ cookiecutter.template_file_comment }}

*
!/requirements.txt
!/requirements-dev.txt
!/requirements-test.txt
!/pip-requirements.txt
!/update-dep-run-audit.sh
!/pyproject.toml
!/src/*
!/README.md
!/secrets.sh
!/tests/*
!/dep/*
!/gunicorn.conf.py
